@import "../veriables";

.contact {
    display: flex;
    flex-direction: row;
    position: relative;

    &-car {
        max-width: 100%;
    }

    &-klema {
        max-width: 100%;
    }

    &-text {
        background-color: $color-orange;
        position: absolute;
        left: 315px;
        max-width: 729px;
        width: 100%;
        max-height: 502px;
        height: 100%;

        &__title {
            font-weight: bold;
            font-size: 48px;
            line-height: 140%;
            color: $color-white;
            max-width: 610px;
            padding: 128px 0px 48px 80px;
            
        }

        &__button {
            @include button-black;
            margin-left: 80px;
        }
    }
}

