section.connect 
    div.connect-social
        h3.connect-social__title Get in touch with us for your  service
        div.connect-social__subtitle 
            img.connect-social__logo(src="/images/facebook.png", alt="Facebook")
            img.connect-social__logo(src="/images/twitter.png", alt="Twitter")
            img.connect-social__logo(src="/images/instagram.png", alt="Instagram")
            img.connect-social__logo(src="/images/linkedin.png", alt="LinkedIn")
    div.connect-info 
        div.connect-info-detals 
            h4.connect-info-detals__title Help line Number
            p.connect-info-detals__subtitle 1800 265 24 52
        div.connect-info-detals  
            h4.connect-info-detals__title Address
            p.connect-info-detals__subtitle NH 234   Public Square San Francisco  65368
        div.connect-info-detals  
            h4.connect-info-detals__title We are open
            p.connect-info-detals__subtitle Monday to Friday 9:00 AM to  10:00  AM