section.contact
    img.contact-car(src="/images/contact-car.png", alt="")
    img.contact-klema(src="/images/contact-klema.png", alt="")
    div.contact-text 
        p.contact-text__title Get in touch with us for your service related query
        button.contact-text__button Contact Us

