footer.footer   
    img.footer-image(src="/images/logo-white.png", alt="Логотип")
    div.footer-list
        p.footer-list__element Home
        p.footer-list__element About us
        p.footer-list__element Services
        p.footer-list__element Blog
        p.footer-list__element Contact us
    p.footer-copyright @ Copyright Finsweet 2021