header.header 
        img.header-image(src="/images/logo-black.png", alt="Логотип")
        div.header-list
            p.header-list__element Home
            p.header-list__element About us
            p.header-list__element Services
            p.header-list__element Blog
            p.header-list__element Contact
        div.header-phone
            img.header-phone__icon(src="/images/phoneicon.png" href="#")
            div.header-number
                p.header-number__title Road Assistance
                p.header-number__subtitle 1800 265 24 52
        
        div.mobile-menu
            svg.mobile(width='28' height='31' viewbox='0 0 28 31' fill='none' xmlns='http://www.w3.org/2000/svg')
                path.path(d='M3.5 15.5H24.5' stroke='#173A56' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path.path(d='M3.5 7.75H24.5' stroke='#173A56' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
                path.path(d='M3.5 23.25H24.5' stroke='#173A56' stroke-width='3' stroke-linecap='round' stroke-linejoin='round')
            ul.menu.active-menu
                li.menu-item
                    a.menu-item__link(href='#') Home 
                li.menu-item
                    a.menu-item__link(href='#') About us 
                li.menu-item
                    a.menu-item__link(href='#') Services 
                li.menu-item
                    a.menu-item__link(href='#') Blog 
                li.menu-item
                    a.menu-item__link(href='#') Contact 