extends components/_layout-services.pug

block content 

    section.our
        div.our-content
            img.our-content__image(src="/images/about-car.png", alt="")
            div.our-text
                h2.our-title About us
                p.our-subtitle Through True Rich Attended does no end it his mother since real had half every him case in packages enquire we up ecstatic unsatiable saw Through True Rich Attended does  
                button.our-button Book a service

    section.term
        div.term-content
            h2.term-title We Provide Expert Service and aim to have a long term with you
            p.term-subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter
            div.process-steps
                div.process-steps-name
                    p.process-steps-name__number 01
                    h3.process-steps-name__name Get a Quote
                p.process-steps__discription Through True Rich Attended does no end it his mother since real had half every.
                div.process-steps-name
                    p.process-steps-name__number 02
                    h3.process-steps-name__name Book an Appointment
                p.process-steps__discription Through True Rich Attended does no end it his mother since real had half ever
                div.process-steps-name
                    p.process-steps-name__number 03
                    h3.process-steps-name__name Get your Service Done
                p.process-steps__discription Through True Rich Attended does no end it his mother since real had half every.
        img.term-image(src="/images/about-car-second.png", alt="")

    section.provide
        div.provide-row 
            div.provide-row-card.provide-left-card 
                h3.provide-row-card__title Serve our customers and always deliver the customer service
                p.provide-row-card__subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes 
                div.provide-background-left
            div.provide-row-card.provide-center-card   
                h3.provide-row-card__title To be the world’s most eader in automotive business solutions.
                p.provide-row-card__subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes
                div.provide-background-center
            div.provide-row-card.provide-right-card 
                h3.provide-row-card__title We value the service we provide and our loyal returning customers 
                p.provide-row-card__subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes 
                div.provide-background-right

    section.benefits
        h2.benefits-title Services we provide to our valued customers
        div.benefits-row
            div.benefits-card
                img.benefits-card__image(src="/images/benefits-icon1.png", alt="")
                h4.benefits-card__title Convenient Service
                p.benefits-card__subtitle Through True Rich Attended does no end it his mother since real had half every him end it his mother
            div.benefits-card 
                img.benefits-card__image(src="/images/benefits-icon2.png", alt="")
                h4.benefits-card__title Expert Mechanics
                p.benefits-card__subtitle Through True Rich Attended does no end it his mother since real had half every him end it his mother
            div.benefits-card 
                img.benefits-card__image(src="/images/benefits-icon3.png", alt="")
                h4.benefits-card__title Transparent Pricing
                p.benefits-card__subtitle Through True Rich Attended does no end it his mother since real had half every him end it his mother
    
    section.indicators 
        div.indicators-point
            h2.indicators-point__title 20+
            p.indicators-point__subtitle Proffesional
        div.indicators-point
            h2.indicators-point__title 10+
            p.indicators-point__subtitle Years Eperience
        div.indicators-point
            h2.indicators-point__title 12K+
            p.indicators-point__subtitle Service Closed
        div.indicators-point
            h2.indicators-point__title 100%
            p.indicators-point__subtitle Customer Satisfaction

    section.team 
        h2.team-title Meet our Team
        div.team-row
            .team-card-wrap
                div.team-card 
                    img.team-card-avatar(src="/images/team1.png", alt="")
                    div.team-card-data   
                        p.team-card-data__name Javena Melo
                        p.team-card-data__position Founder, Director
            div.team-card  
                img.team-card-avatar(src="/images/team2.png", alt="")
                div.team-card-data       
                    p.team-card-data__name Paul Honson
                    p.team-card-data__position Head Technician
            div.team-card  
                img.team-card-avatar(src="/images/team3.png", alt="")
                div.team-card-data        
                    p.team-card-data__name Devon Lane
                    p.team-card-data__position Technician
        div.team-row 
            div.team-card  
                img.team-card-avatar(src="/images/team4.png", alt="")
                div.team-card-data      
                    p.team-card-data__name Jalen Davies
                    p.team-card-data__position Marketing Manager
            div.team-card  
                img.team-card-avatar(src="/images/team5.png", alt="")
                div.team-card-data       
                    p.team-card-data__name Kylee Danford
                    p.team-card-data__position Sales Manager
            div.team-card  
                img.team-card-avatar(src="/images/team6.png", alt="")
                div.team-card-data    
                    p.team-card-data__name Luisa Wilson
                    p.team-card-data__position Support Assistant
