extends components/_layout-services.pug

block content 

    section.blog 
        di.blog-bolid
            h2.blog-bolid-text Our Blog
        div.blog-content
            h4.blog-content-uptitle TRENDING
            h3.blog-content-title Diagnose Car Problems If You Don’t Know Much About Cars
            p.blog-content-subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes, We provide a full range of front end mechanical.
            div.blog-content-more
                button.blog-content-more__button Read more
                p.blog-content-more__text Posted on October 6th 2021

    section.buy 
        div.buy-poster
            img.buy-poster__image(src="/images/buy-poster.png", alt="")
            p.buy-poster-alt Posted on October 6th 2021
            h2.buy-poster-title Should I Buy a New Car or Lease a New Car in 2021?
            p.buy-poster-subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes, We provide a full range of front end mechanical.
            div.buy-poster-arrow
                p.buy-poster-arrow__text Read more
                img.buy-poster-arrow__image(src="/images/arrow.png", alt="Стрелочка вправо")
        div.buy-suggestions
            div.buy-suggestions-element
                img.buy-suggestions-element__image(src="/images/buy-list1.png", alt="")
                div.buy-suggestions-text
                    h3.buy-suggestions-text__title Get an Awesome Number Plate for Your New Car
                    p.buy-suggestions-text__posted Posted on October 6th 2021
            div.buy-suggestions-element 
                img.buy-suggestions-element__image(src="/images/buy-list2.png", alt="")
                div.buy-suggestions-text 
                    h3.buy-suggestions-text__title Would you Let a Robot Drive your Car? Our AI Future
                    p.buy-suggestions-text__posted Posted on October 6th 2021
            div.buy-suggestions-element 
                img.buy-suggestions-element__image(src="/images/buy-list3.png", alt="")
                div.buy-suggestions-text 
                    h3.buy-suggestions-text__title Will Electric Technology Soon Rule The Road?
                    p.buy-suggestions-text__posted Posted on October 6th 2021

    section.offer 
        div.offer-row
            div.offer-card
                img.offer-card-image(src="/images/offer-1-1.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title 5 Genius Car Accessories You Should Never Drive Without
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
            div.offer-card
                img.offer-card-image(src="/images/offer-1-2.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title 5 Genius Car Accessories You Should Never Drive Without
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
            div.offer-card
                img.offer-card-image(src="/images/offer-1-3.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title We provide blow straight past it with the wheels skidding
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
        div.offer-row
            div.offer-card
                img.offer-card-image(src="/images/offer-2-1.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title We provide blow straight past it with the wheels skidding
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
            div.offer-card
                img.offer-card-image(src="/images/offer-2-2.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title 5 Genius Car Accessories You Should Never Drive Without
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
            div.offer-card
                img.offer-card-image(src="/images/offer-2-3.png", alt="")
                p.offer-card-alt Posted on October 6th 2021
                h3.offer-card-title 5 Genius Car Accessories You Should Never Drive Without
                p.offer-card-text We provide a full range of front end mechanical repairs for all makes and models We provide a full range of front end mechanical repairs for all makes and models
            