extends components/_layout-services.pug

block content

    section.our
        div.our-content
            img.our-content__image(src="/images/services-car1.png", alt="")
            div.our-text
                h2.our-title Our services
                p.our-subtitle Through True Rich Attended does no end it his mother since real had half every him case in packages enquire we up ecstatic unsatiable saw Through True Rich Attended does  
                button.our-button Book a service

    section.diagnostics
        div.diagnostics-content
            div.diagnostics-content-text 
                img.diagnostics-content-image(src="/images/services-car2.png", alt="")
                h3.diagnostics-content__title Auto Diagnostics
                p.diagnostics-content__subtitle Through True Rich Attended does no end it his mother since favourable real had half every him case in packages enquire we up ecstatic. Through True Rich Attended does no end it his mother. 
                div.diagnostics-content-see
                    p.diagnostics-content-see__text See service details
                    img.diagnostics-content-see__icon(src="/images/arrow.png", alt="")
            div.diagnostics-link 
                div.diagnostics-link-row 
                    div.diagnostics-link-button
                        img.diagnostics-link-button__icon(src="/images/icon-diagnostics.png", alt="")
                        p.diagnostics-link-button__text Auto Dignostics
                    div.diagnostics-link-button 
                        img.diagnostics-link-button__icon(src="/images/icon-engine.png", alt="")
                        p.diagnostics-link-button__text Engin Repair
                div.diagnostics-link-row  
                    div.diagnostics-link-button 
                        img.diagnostics-link-button__icon(src="/images/icon-body.png", alt="")
                        p.diagnostics-link-button__text Body Work
                    div.diagnostics-link-button 
                        img.diagnostics-link-button__icon(src="/images/icon-batteries.png", alt="")
                        p.diagnostics-link-button__text Batteries
                div.diagnostics-link-row   
                    div.diagnostics-link-button 
                        img.diagnostics-link-button__icon(src="/images/icon-diagnostics.png", alt="")
                        p.diagnostics-link-button__text Car wash
                    div.diagnostics-link-button 
                        img.diagnostics-link-button__icon(src="/images/icon-engine.png", alt="")
                        p.diagnostics-link-button__text AC Repair

    section.how
        div.how-worked 
            div.how-worked-content
                h2.how-worked-title How we work and the process we follow
                div.how-worked-check 
                    img.how-worked-check__icon(src="/images/checkmark.png", alt="")
                    p.how-worked-check__text Through True Rich Attended does no end it his mother since
                div.how-worked-check 
                    img.how-worked-check__icon(src="/images/checkmark.png", alt="")
                    p.how-worked-check__text Attended does no end it his mother since real had half every
                div.how-worked-check  
                    img.how-worked-check__icon(src="/images/checkmark.png", alt="")
                    p.how-worked-check__text Since real had half every him case in packages enquire we up ecstatic
            div.how-worked-images 
                img.how-worked-images__car(src="/images/services-car3.png", alt="")
                img.how-worked-images__car(src="/images/services-car4.png", alt="")
        div.how-diagnose
            div.how-diagnose-images
                img.how-diagnose-images__img(src="/images/services-car5.png", alt="")
                img.how-diagnose-images__img(src="/images/services-car6.png", alt="")
            div.how-diagnose-content 
                h2.how-diagnose-title Diagnose Car Problems If You Don’t Know Much About Cars
                p.how-diagnose-subtitle We provide a full range of front end mechanical repairs for all makes and models of cars, no matter the cause. This includes everything from struts, shocks, and tie rod ends to ball joints, springs everything from struts, shocks, and tie rod ends to ball joints, springs
                button.how-diagnose-button Book a service

