extends components/_layout-services.pug

block content 

    section.auto
        h2.auto-title Auto Diagnostics
        div.auto-content
            div.auto-nav
                div.auto-other
                    h4.auto-other-title Other services
                    div.auto-other-card 
                        img.auto-other-card__icon(src="/images/icon-engine.png", alt="")
                        p.auto-other-card__text Engine Repair
                    div.auto-other-card 
                        img.auto-other-card__icon(src="/images/icon-diagnostics.png", alt="")
                        p.auto-other-card__text Car wash
                    div.auto-other-card 
                        img.auto-other-card__icon(src="/images/icon-batteries.png", alt="")
                        p.auto-other-card__text Batteries
                div.auto-discription
                    div.auto-discription-check
                        img.auto-discription-check__ball(src="/images/ball-service.png", alt="")
                        div.auto-discription-text
                            h4.auto-discription-text__title Convenient service
                            p.auto-discription-text__subtitle Through True Rich Attended does no end it his mother since real had half every him.
                    div.auto-discription-check
                        img.auto-discription-check__ball(src="/images/ball-machanics.png", alt="")
                        div.auto-discription-text
                            h4.auto-discription-text__title Expert mechanics
                            p.auto-discription-text__subtitle Through True Rich Attended does no end it his mother since real had half every him.
                    div.auto-discription-check
                        img.auto-discription-check__ball(src="/images/ball-pricing.png", alt="")
                        div.auto-discription-text
                            h4.auto-discription-text__title Transparent pricing
                            p.auto-discription-text__subtitle Through True Rich Attended does no end it his mother since real had half every him.
            div.auto-article
                img.auto-article-image(src="/images/single-car.png", alt="")
                h2.auto-article-title The warning lights on your dashboard are the most obvious starting point.
                p.auto-article-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim dolor et dui bibendum aliquam. Mauris a quam sit amet dui auctor dictum eget a elit. Pellentesque varius diam risus, ut condimentum lorem volutpat vel. Nam vel orci pharetra eros pulvinar cursus nec quis tellus. Quisque feugiat tortor lectus, pretium interdum justo tincidunt a. Donec at congue lectus. Nulla facilisi. Phasellus consectetur sapien accumsan lectus tincidunt placerat. Etiam ornare nibh vel dui egestas, eu posuere metus convallis.
                p.auto-article-text  Ut non urna a odio condimentum dictum. Proin egestas erat a orci ultrices, vitae bibendum libero posuere. Quisque laoreet tincidunt justo. Vestibulum congue dictum libero finibus vehicula. Aliquam nisi velit, ultricies eget enim vel, venenatis mollis ante. Maecenas sodales tristique quam. Suspendisse fringilla massa vel dolor ornare rhoncus. Nullam ut orci mattis leo varius laoreet sed mollis dui. Aenean placerat nec enim ut finibus. Maecenas suscipit nibh eu neque egestas, non condimentum mi bibendum. Sed est eros, molestie consectetur auctor non, lobortis quis tortor. Nam cursus imperdiet massa volutpat hendrerit. Sed suscipit ligula iaculis lorem sagittis tincidunt. Etiam pellentesque metus vel enim iaculis aliquam. Mauris at nisi sed elit gravida malesuada.
                h3.auto-article-subtitle Delaying a diagnosis and repair could lead to even bigger problems down the road.
                p.auto-article-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim dolor et dui bibendum aliquam. Mauris a quam sit amet dui auctor dictum eget a elit. Pellentesque varius diam risus, ut condimentum lorem volutpat vel. Nam vel orci pharetra eros pulvinar cursus nec quis tellus. Quisque feugiat tortor lectus, pretium interdum justo tincidunt a. Donec at congue lectus. Nulla facilisi. Phasellus consectetur sapien accumsan lectus tincidunt placerat. Etiam ornare nibh vel dui egestas, eu posuere metus convallis.
                p.auto-article-subtext Ut non urna a odio condimentum dictum. Proin egestas erat a orci ultrices, vitae bibendum libero posuere. Quisque laoreet tincidunt justo. Vestibulum congue dictum libero finibus vehicula. Aliquam nisi velit, ultricies eget enim vel, venenatis mollis ante.